.App {
  font-family: sans-serif;
}
audio.react-audio-player {
    outline: none;
}

.TitleB{
  font-weight: bold;
  float : "left"; 
  padding-left: 30px; 
}
.TitleN{
  font-weight: 300;
  float: "left"; 
  padding-left: 30px; 
}
.playingStyle{
	font-size: larger;
	font-weight: 600;
}
.songStyle{
	font-weight: 200;
    font-size: small;
    font-style: oblique;
}
.UpperBody{
    background-color: rgb(255,221,204);
}

.LowerBody{
    background-color: rgb(255,238,230);
}
.List{
	background: initial;
	border: none;
}